extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Pavlo Morgun

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hey, how's it going. My name is Pavlo. I've graduated with a Bachelors of Aerospace Engineering which makes me a rocket scientist on paper.
            | My stack includes all the skills listed below, as well as an ability to learn new things very quickly.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li JavaScript
          li Node.js
          li Pug
          li Vue
          li Gulp
          li HTML
          li CSS 
          li SQL
          li NPM
          li React
          li MongoDB
          li Heroku
        h6 Contact Info

        //- Add your own contact info
        ul
          li 647-575-8777
          li morgunpavlo@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/pavlo-morgun-4bb60148/') LinkedIn
        a.button.expanded(href='http://github.com/itspav') GitHub
        a.button.expanded(href='https://twitter.com/pavlomorgun') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  